body {
  background: url('https://assets.editorial.aetnd.com/uploads/2023/03/vatican-city-GettyImages-1097352500.jpg?width=1920&height=960&crop=1920%3A960%2Csmart&quality=75') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



